{
  "artifactory": [
    {
      "url": "{{jfrog_cli_artifactory_url}}/",
      "apiKey": "{{jfrog_cli_artifactory_apikey}}",
      "serverId": "{{jfrog_cli_artifactory_server_id}}",
      "isDefault": true
    }
  ],
  "Version": "1"
}
